black
eip712
eth-abi
eth-account
eth-event
eth-hash[pycryptodome]
eth-rlp
eth-utils
hexbytes
hypothesis
lazy-object-proxy
prompt-toolkit
psutil
py-solc-ast
py-solc-x
py
pygments-lexer-solidity
pygments
pytest-xdist
pytest
python-dotenv
pythx
pyyaml
requests
rlp
semantic-version
tqdm
vvm
web3
vyper
wrapt
